@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

.playwrite-hu-cook {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: 'Playwrite HU';
  background-color: #9ac2ef;
}

h1 {
    font-family: 'Playwrite HU',
}

/* -------------------- Index --------------------*/
.main-header {
  font-weight: bold;
  color: #f6e7e7;
  font-size: 5em;
  margin: 20px;
}

.subheader {
  margin: 0 20px 0 20px;
  font-size: 1.4em;
}

.index-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.auth-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 80px 0 0;
  height: 100%;
}

.signup-link,
.signin-link {
  text-decoration: none;
  font-size: 1.5em;
  padding: 8px 0;
  border-radius: 25px;
  width: 10em;
  text-align: center;
}

.signup-link {
  background-color: #ce4866;
  color: white;
  margin: 0 0 20px 0;
}

.signup-link:hover {
  background-color: #ff5378;
}

.signin-link {
  background-color: #f6e7e7;
  color: #1c2e5b;
  margin: 20px 0 0 0;
}

.signin-link:hover {
  background-color: #ffffff;
}

/* -------------------- Sign-in/Sign-up --------------------*/
.signin-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  color: #1c2e5b;
}

form {
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 100%;
  background-color: #f6e7e7;
  justify-content: space-evenly;
  padding: 30px 40px 20px 40px;
  border-radius: 20px;
  color: #4b598e;
  font-weight: bold;
}

input {
  border: 1px solid rgb(182, 182, 182);
  padding: 8px;
  border-radius: 10px;
}

button {
  padding: 10px;
  background-color: #ce4866;
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

/* -------------------- Views_Foods_index --------------------*/

.all-foods-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-foods-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 90%;
}

.add-food-link {
  padding: 10px;
  background-color: #ce4866;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.1em;
  padding: 2px 25px;
  text-decoration: none;
}

.add-food-link:hover {
  background-color: #e84a6c;
